DerivedData/
MovieDatabase.xcodeproj/xcuserdata
xcuserdata/
MovieDatabase.xcodeproj/project.xcworkspace/xcuserdata/
MovieDatabase.app*
MovieDatabase.ipa

fastlane/report.xml
fastlane/README.md
fastlane/Preview.html
fastlane/screenshots/screenshots.html
fastlane/screenshots/**/*.png
